<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin App + jQuery">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <title><%= t :MTNISpeedtestPortal %></title>
  <!-- =============== VENDOR STYLES ===============-->
  <!-- FONT AWESOME-->

  <!-- SIMPLE LINE ICONS-->
  <link rel="stylesheet" href="simple-line-icons.css">
  <!-- =============== BOOTSTRAP STYLES ===============-->
  <link rel="stylesheet" href="bootstrap.css" id="bscss">
  <!-- =============== APP STYLES ===============-->
  <link rel="stylesheet" href="app.css" id="maincss">
</head>

<body>
<div class="wrapper">
  <div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
        <%=  image_tag("logo.png" , class: "block-center img-rounded")%>
      </div>
      <div class="panel-body">
        <p class="text-center pv"><%= t :MTNIrancellSpeedtest %></p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group has-feedback">
              <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: t(:ECareaccountorWimaxID) %>
          </div>
          <div class="form-group has-feedback">
            <%= f.password_field :password, autofocus: true, class: "form-control" , placeholder: t(:Password) %>
          </div>
          <div class="clearfix">
            <div class="pull-right"><a href="http://ecare.irancell.ir/appmanager/sspportal/login?_nfpb=true&_windowLabel=Login_Portlet&Login_Portlet_actionOverride=%2Fwebflows%2Flogin%2Fforgetpassowrd&Login_PortletserviceTypeParam=WIMAX" class="text-muted"><%#= t :Forgotyourpassword %></a>
            </div>
          </div>
            <div class="actions">
            <!-- <div class="g-recaptcha" data-sitekey="6Lc7xi4UAAAAADQC7iZeG1EVaTRbARj_aZ-xqtZo"></div> -->
            <div class="g-recaptcha" data-sitekey="6Lewkj8UAAAAAI7dr6fkDRKjhVzr1AaTccLync_j"></div>  
              <%= f.submit t(:login), class: "btn btn-block btn-primary mt-lg" %>
            </div>
        <% end %>
        <p class="pt-lg text-center"><%= t :Donthavepassword %></p><a href="http://ecare.irancell.ir/appmanager/sspportal/login" class="btn btn-block btn-default"><%= t :ClickHere %></a>
        <!-- <p class="text-center"></p> -->
      </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
      <span><%= t :copyRight %></span>
      <span>2017</span>
      <span>-</span>
      <span>MTN Irancell</span>
      <br>

    </div>
  </div>
</div>
<!-- =============== VENDOR SCRIPTS ===============-->
<!-- MODERNIZR-->
<script src="modernizr.js"></script>
<!-- JQUERY-->
<script src="jquery.js"></script>
<!-- BOOTSTRAP-->
<script src="bootstrap.js"></script>
<!-- STORAGE API-->
<script src="jquery_002.js"></script>
<!-- PARSLEY-->
<script src="parsley.js"></script>
<!-- =============== APP SCRIPTS ===============-->
<script src="app.js"></script>


</body></html>

<script src='https://www.google.com/recaptcha/api.js'></script>
