<head>
<style>
    @import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
    .rwd-table {
        margin: 1em 0;
        min-width: 300px;
    }
    .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .rwd-table th {
        display: none;
    }
    .rwd-table td {
        display: block;
    }
    .rwd-table td:first-child {
        padding-top: .5em;
    }
    .rwd-table td:last-child {
        padding-bottom: .5em;
    }
    .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }
    @media (min-width: 480px) {
        .rwd-table td:before {
            display: none;
        }
    }
    .rwd-table th, .rwd-table td {
        text-align: left;
    }
    @media (min-width: 480px) {
        .rwd-table th, .rwd-table td {
            display: table-cell;
            padding: .25em .5em;
        }
        .rwd-table th:first-child, .rwd-table td:first-child {
            padding-left: 0;
        }
        .rwd-table th:last-child, .rwd-table td:last-child {
            padding-right: 0;
        }
    }

    body {
        padding: 0 2em;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444;
        background: #eee;
    }

    h1 {
        font-weight: normal;
        letter-spacing: -1px;
        color: #34495E;
    }

    .rwd-table {
        background: #34495E;
        color: #fff;
        border-radius: .4em;
        overflow: hidden;
    }
    .rwd-table tr {
        border-color: #46627f;
    }
    .rwd-table th, .rwd-table td {
        margin: .5em 1em;
    }
    @media (min-width: 480px) {
        .rwd-table th, .rwd-table td {
            padding: 1em !important;
        }
    }
    .rwd-table th, .rwd-table td:before {
        color: #dd5;
    }

    .scanHeader{
      text-align: right !important;
    }
    .scanTable{
      float: right !important;
      direction: rtl !important;
    }
    .TextCenter{
        text-align: center !important;
    }
    .TextLeft{
        text-align: right !important;
        direction: ltr !important;
    }


</style>
</head>
<body>
<p id="notice"><%= notice %></p>

<h1 class="<%= "scanHeader" if I18n.locale == :fa %>"><%= t :ListingScans %></h1>

<table class="rwd-table <%= "scanTable" if I18n.locale == :fa %>">
  <tr>
    <th class="TextCenter"><%= t :RefrenceKey %></th>
    <th class="TextCenter"><%= t :AverageUpload %></th>
    <th class="TextCenter"><%= t :AverageDownload %></th>
    <th class="TextCenter"><%= t :AveragePing %></th>
    <th class="TextCenter"><%= t :IP %></th>
    <th class="TextCenter"><%= t :PacketLost %></th>
    <th class="TextCenter"><%= t :Date %></th>
    <th class="TextCenter"><%= t :jitter %></th>
  </tr>
  <% @scans.reverse.each do |scan| %>
      <tr>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.skey %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.supload %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.sdownload %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.sping %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.uip %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.pingarray %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>"><%= scan.created_at.try(:strftime,"%Y/%m/%d %H:%M") %></td>
        <td class="<%= "TextLeft" if I18n.locale == :fa %>">
<% if scan.pinglist.present? %>
<%= scan.pinglist.round(3) %></td>
<% end %>
      </tr>
  <% end %>
</table>
</body>
