<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= t :MTNIrancellSpeedtest %></title>
  <link rel="stylesheet" href="speedtest/css/bootstrap.min.css">
  <link rel="stylesheet" href="speedtest/css/font-awesome.min.css">
  <link rel="stylesheet" href="speedtest/css/jqx.base.css" type="text/css" />
  <link rel="stylesheet"  href="speedtest/css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="speedtest/css/main.css">
  <script>
    var lat;
    var long;
      jQuery(window).ready(function(){

          navigator.geolocation.getCurrentPosition(handle_geolocation_query);
      });
      function handle_geolocation_query(position){
       lat = position.coords.latitude
          long = position.coords.longitude;

      }
 </script>
 <style type="text/css">
   
    .statusBox{
      float: right !important;
    }
    .directionRtl{
      direction: rtl !important;
    }

 </style>

</head>

<body>

<script type="text/javascript"></script>



<div class="container" >
  <br />


  <%= javascript_tag do %>
      var userip = '<%= request.remote_ip %>';
  <% end %>
  <%= javascript_tag do %>
      var username = '<%= current_user.id %>';
  <% end %>




  <!-- start of gauge-->

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

        <div class="col-md-4  col-sm-4 col-xs-6 wrapper1 ">
          <div id="download">
            <div class="results"> <em id= "speedo-dl">--.--</em>
              <div class="labels"><%= t :Mbps %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="demo-gauge" >
            <div id='gauge' > </div>

          </div>
          <div id="gaugeValue" class="col-md-8 col-md-offset-4 col-xs-8 col-xs-offset-4" >

          </div>
        </div>
        <div class="col-md-4 col-sm-4 wrapper1 mobile-view ">
          <div id="upload">

            <div class="results">
              <em id="speedo-up" class="speed data" style="visibility: visible;">--.--</em>
              <div class="labels"><%= t :Mbps %></div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 ">
          <div class="center-btn " >
            <button class="btn  btn-lg push_button" id="starttest" type="button" data-measure="starttest">  <%= t :Start %> </button>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-6 col-xs-6 <%= " statusBox directionRtl" if I18n.locale == :fa %>">
                <div id="status" class="element"> <span class="labels status"><%= t :Status %></span> <span id="speedo-status" class="data"><%= t :Ready %></span> </div>
              </div>
              <div class="col-sm-6 col-sm-6 col-xs-6 <%= " directionRtl" if I18n.locale == :fa %>">
                <div id="ip" class="element"> <span class="labels ip"><%= t :IP %></span> <span id="speedo-ip" class="data">-</span> </div>
              </div>
              <div class="col-sm-12 col-xs-12 <%= " directionRtl" if I18n.locale == :fa %>">
                <div id="provider" class="element"> <span class="labels provider"><%= t :Provider %></span> <span id="speedo-provider" class="data"><%= t :MTNIrancell %></span> </div>
              </div>
<br>
<div class="col-md-12 col-sm-12 col-xs-12">
<a href="http://st.irancell.ir/findex" class="push_button" style="background:#337ab7;border:1px solid #2e6da4;box-shadow:0px 9px 0px #2e6da4;font-size:2rem;"><%= t :Testyourspeedwithforeignserver %></a>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- end of gauge-->
  </div>


  <script src="speedtest/js/tooltip.min.js"></script>
  <script src="speedtest/js/network.js"></script>
  <script src="speedtest/js/main.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxcore.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxdata.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxdraw.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxgauge.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxbuttons.js"></script>
  <script type="text/javascript" src="speedtest/js/jqxslider.js"></script>
  <script type="text/javascript" src="speedtest/js/demos.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          document.getElementById('speedo-ip').innerHTML = userip

          $('#gauge').jqxGauge({
              ranges: [{ startValue: 0, endValue: 10, style: { fill: '#4cb848', stroke: '#4cb848' }, startDistance: 0, endDistance: 0 },
                  { startValue: 10, endValue: 15, style: { fill: '#fad00b', stroke: '#fad00b' }, startDistance: 0, endDistance: 0 },
                  { startValue: 15, endValue: 20, style: { fill: '#e53d37', stroke: '#e53d37' }, startDistance: 0, endDistance: 0}],
              cap: { size: '8%', style: { fill: '#2e79bb', stroke: '#2e79bb'} },
              border: { style: { fill: '#000', stroke: '#7b8384', 'stroke-width': 10 } },
              ticksMinor: { interval: 0.5, size: '5%' },
              style: { fill: '#fff', stroke: '#000' },
              ticksMajor: { interval: 1, size: '12%' },
              labels: { position: 'outside', interval: 2 },
              pointer: { style: { fill: '#2e79bb' }, width: 5 },
              animationDuration: 1500,
              width: '100%',
              height: '100%',
              max: 20
          });

          $('#slider').mousedown(function () {
              $('#gauge').jqxGauge('value', $('#slider').jqxSlider('value'));
          });
          $('#slider').on('slideEnd', function (e) {
              $('#gauge').jqxGauge('value', e.args.value);
          });
          $('#slider').on('mousewheel', function () {
              $('#gauge').jqxGauge('value', $('#slider').jqxSlider('value'));
          });

      });
  </script>
</body>
</html>
