<% if user_signed_in? %>
    <nav class="navbar navbar-default" style="opacity: 0.8;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%=  image_tag ("logo.png"), height: '49' %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                <li><%= link_to I18n.locale == I18n.default_locale ? "فارسی" : "English" , (I18n.locale == I18n.default_locale ? (params.merge({:locale => "fa"})) : (params.merge({:locale => "en"}))) %></li>
                <li><%= link_to t(:Speedtest), root_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to t(:testHistory), scans_path %></li>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
           <% if current_user.admin? %>
                <li><%= link_to t(:Administration), '/admin' %></li>
             <% end %>

                <li><%= link_to t(:logout), destroy_user_session_path , :method => :delete %>  </li>

              </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<% end %>