<!DOCTYPE html>
<html>
<head>
  <title>MTNI SpeedTest</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/messsages' %>
<%= render 'layouts/navigation' %>
<%= yield %>

</body>
</html>
