body {}
.full-width{width:100%; height:80px; background-color:#000; margin-bottom:10px}
#gaugeValue{position: absolute; top: 53%;text-align: center;  width: 20%;
    height: 20%; background-image:url(../img/logo-en.jpg);background-size: 100% auto ; background-repeat:no-repeat}
.demo-gauge {
	position: relative;
	height: 340px;
}
#download {
	text-align: center;
	width: 180px;
	height: 161px;
	margin: 0 auto;
	position: relative
}
#upload {
	text-align: center;
	width: 180px;
	height: 161px;
	margin: 0 auto;
	position: relative
}
#download {
	background: url(../img/download1.png) no-repeat center center;
}
#upload {
	background: url(../img/upload1.png) no-repeat center center;
}
#download .results {
	position: relative;
	width: 80%;
	margin: 20px auto;
	top: 40%;
}
#upload .results {
	position: relative;
	width: 80%;
	margin: 20px auto;
	top: 40%;
}
#download, #upload {
	background-size: 85% auto;
}
.labels {
	color: #000 !important;
	font-weight: normal;
	font-size: 17px
}
.element {
	margin: 0 0 5px;
	padding: 15px 10px;
	border: 1px solid #F34600;
}
.element .labels {
	padding: 0 10px 0 0;
	color: #878787;
	border-right: 1px solid #d3d3d3;
}
.form-group {
	height: 200px
}
#gauge {
	margin: 0 auto;
}
.push_button {
	position: relative;
	color: #FFF;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	border-radius: 5px;
	border: solid 1px #D94E3B;
	background: #cb3b27;
	text-align: center;
	padding: 12px 30px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #84261a;
	-moz-box-shadow: 0px 9px 0px #84261a;
	box-shadow: 0px 9px 0px #84261a;
}
.push_button:active {
	-webkit-box-shadow: 0px 2px 0px #84261a;
	-moz-box-shadow: 0px 2px 0px #84261a;
	box-shadow: 0px 2px 0px #84261a;
	position: relative;
	top: 7px;
}
.center-btn {
	text-align: center;
	margin-bottom: 40px;
}
.btn-toolbar {
	margin-bottom: 9px;
}
.btn-toolbar .btn-group {
	margin-top: 9px;
}
output {
	margin-bottom: 40px;
	border-radius: 4px;
	height: 350px;
	padding: 9.5px;
	background-color: #2d2d2d;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 90%;
	color: #fff;
	overflow: auto;
}
.green {
	color: #a9d3ab;
}
.yellow {
	color: #fed37f;
}
.blue {
	color: #7aabd4;
}
.mobile-visible {
	display: none
}
.mobile-invisible {
	display: block
}

@media (max-width:480px) {
.btn-toolbar {
	text-align: center;
}
.btn-toolbar .btn-group {
	float: none;
}
.mobile-visible {
	display: block
}
.mobile-invisible {
	display: none !important
}
.btn {
	margin-bottom: 50px
}
#download {
	width: 100% !important;
	background-size: 100% auto !important;
}
#upload {
	width: 100% !important;
	background-size: 100% auto !important;
}
.mobile-view {
	left: 50%;
	width: 50%;
	margin-top: 6%
}
.demo-gauge {
	height: 320px;
}
.container {
	margin-top: -15px
}
#upload >.results {
	position: absolute;
	top: 42%;
	left: 10%;
	margin: 0
}
.element {
	padding: 2% 0;
}
.element .labels {
	padding: 1% 3% 0 0;
}
}

@media (max-width:320px) {
.mobile-view {
	margin-top: 8%
}
.demo-gauge {
	height: 250px !important;
}

}

@media (max-width:320px) and (min-width:480px) {
.demo-gauge {
	height: 350px !important;
}

}

@media (min-width: 768px) and (max-width: 980px) {
.col-sm-offset-1 {
	margin-left: 0 !important
}
}

@media (max-width: 768px) and (min-width:480px) {
.mobile-view {
	left: 20%
}
#gauge {
	width: 300px !important
}
#upload .results {
	left: -18%
}
}

@media (min-width: 768px) {
.col-sm-offset-1 {
	margin-left: 0 !important;
}
}

@media (min-width : 375px) and (max-width : 668px) and (orientation : landscape) {
.mobile-view {
	left: 20%
}
#gaugeValue {
    
    width: 10%;
	left:11%;
}
}
@media (max-width: 1024px) and (min-width:  768px) {

#gaugeValue{top: 42%;}
}

@media  (min-width : 414px) and (max-width : 736px) and (orientation : landscape){

#gaugeValue {
    width: 10%;
    left: 11%;

}
}

@media  (min-width : 414px) and (max-width : 736px) and (orientation : portrait)  {

#gaugeValue {
        width: 15%;
    left: 8%;
    top: 58%;

}


}




